# Visual Studio
.vs/
*.user
*.VC.db
*.VC.opendb

# Build and Output Folders
Debug/
Release/
x64/
x86/
out/

# Compiled Object files & Prerequisites
*.d
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker & Executables
*.pdb
*.ilk
*.exe

# Logs
*.log
